<nav class="nav">
  <div class="nav__inner">
    <a href="{{ '/' | relative_url }}" class="nav__brand">
      <div class="nav__brand-icon">💰</div>
      <div class="nav__brand-text">
        부자들의 경제철학
        <span class="nav__brand-sub">Wealthy Mindset</span>
      </div>
    </a>

    <ul class="nav__menu">
      <li><a href="{{ '/wealth-strategy/' | relative_url }}">부의 전략</a></li>
      <li><a href="{{ '/mindset/' | relative_url }}">마인드셋</a></li>
      <li><a href="{{ '/investment/' | relative_url }}">투자철학</a></li>
      <li><a href="{{ '/success-habits/' | relative_url }}">성공 습관</a></li>
      <li>
        <a href="{{ site.author.youtube }}" class="nav__yt" target="_blank" rel="noopener">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 6.2c-.3-1-1-1.8-2-2C19.6 4 12 4 12 4S4.4 4 2.5 4.2c-1 .3-1.7 1-2 2C.2 8 0 12 0 12s.2 4 .5 5.8c.3 1 1 1.7 2 2C4.4 20 12 20 12 20s7.6 0 9.5-.2c1-.3 1.7-1 2-2 .3-1.8.5-5.8.5-5.8s-.2-4-.5-5.8zM9.8 15.5V8.5l6.3 3.5-6.3 3.5z"/></svg>
          유튜브
        </a>
      </li>
    </ul>
  </div>
</nav>
